//GRID
.col{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	@media screen and (max-width: 768px) {
		display: block;
		width: 99% !important;
	}
}
.col-mdl{
	vertical-align: middle;
}
.col-btm{
	vertical-align: bottom;
}
.col-12{
	width: 99.5%;
}
.col-11{
	width: 90.75%;
}
.col-10{
	width: 82.5%;
}
.col-9{
	width: 74.25%;
}
.col-8{
	width: 66%;
}
.col-7{
	width: 57.75%;
}
.col-6{
	width: 49.5%;
}
.col-5{
	width: 41.25%;
}
.col-4{
	width: 33%;
}
.col-3{
	width: 24.75%;
}
.col-2{
	width: 16.5%;
}
.col-1{
	width: 8.25%;
}

//SPACE
.space-1{
	height: 1em;
}
.space-2{
	height: 2em;
}

// TEXT ALIGN 
.txt-center{
	text-align : center;
}
.txt-left{
	text-align : left;
}
.txt-right{
	text-align : right;
}
.txt-justify{
	text-align : justify;
}

//FONTS SIZE
.fz-10{
	font-size: 10px !important;
}
.fz-11{
	font-size: 11px !important;
}
.fz-12{
	font-size: 12px !important;
}
.fz-13{
	font-size: 13px !important;
}
.fz-14{
	font-size: 14px !important;
}
.fz-15{
	font-size: 15px !important;
}
.fz-16{
	font-size: 16px !important;
}
.fz-17{
	font-size: 17px !important;
}
.fz-18{
	font-size: 18px !important;
}
.fz-19{
	font-size: 19px !important;
}
.fz-20{
	font-size: 20px !important;
}